@model Domain.Event

@{
    ViewData["Title"] = "Create";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />

</head>

<h2>Create</h2>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EventName" class="control-label"></label>
                <input asp-for="EventName" class="form-control" />
                <span asp-validation-for="EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventStartDate" class="control-label"></label>
                <input asp-for="EventStartDate" class="form-control" />
                <span asp-validation-for="EventStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventLocation" class="control-label"></label>
                <input asp-for="EventLocation" class="form-control" />
                <span asp-validation-for="EventLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventInformation" class="control-label"></label>
                <input asp-for="EventInformation" class="form-control" />
                <span asp-validation-for="EventInformation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfTotalParticipants" class="control-label"></label>
                <input asp-for="NumberOfTotalParticipants" class="form-control" />
                <span asp-validation-for="NumberOfTotalParticipants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
